# Intoduction
For my final project, I'm going to implement two different machine learining approaches to see how they differ from one another.
From this, I hope to draw a conclusion on what approach works best for the dataset. 

## Dataset 
This project will primarly will be using the [scikit-learn diabetes dataset](https://scikit-learn.org/stable/datasets/toy_dataset.html#diabetes-dataset). I will consider this project successful if I could test different machine learning models and identify which model works best and know *why* it works best.

# Import Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from numpy.random import default_rng
from sklearn import datasets # Where our diabetes datasets lives.
from sklearn.model_selection import train_test_split # used for splitting our data
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier

Loading the Data Set:

We're going to load diabetes dataset from scikit-learn.

In [15]:
data = pd.read_csv('diabetes_data.csv')
data.head()
print(data.columns)

Index(['AGE', 'SEX', 'BMI', 'BP', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'Y'], dtype='object')

We could take a quick look at the shape of one feature just so we could visualize how it's structured

In [17]:
data.corr()

,AGE,SEX,BMI,BP,S1,S2,S3,S4,S5,S6,Y
AGE,1.000000,0.173737,0.185085,0.335428,0.260061,0.219243,-0.075181,0.203841,0.270774,0.301731,0.187889
SEX,0.173737,1.000000,0.088161,0.241010,0.035277,0.142637,-0.379090,0.332115,0.149916,0.208133,0.043062
BMI,0.185085,0.088161,1.000000,0.395411,0.249777,0.261170,-0.366811,0.413807,0.446157,0.388680,0.586450
BP,0.335428,0.241010,0.395411,1.000000,0.242464,0.185548,-0.178762,0.257650,0.393480,0.390430,0.441482
S1,0.260061,0.035277,0.249777,0.242464,1.000000,0.896663,0.051519,0.542207,0.515503,0.325717,0.212022
S2,0.219243,0.142637,0.261170,0.185548,0.896663,1.000000,-0.196455,0.659817,0.318357,0.290600,0.174054
S3,-0.075181,-0.379090,-0.366811,-0.178762,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697,-0.394789
S4,0.203841,0.332115,0.413807,0.257650,0.542207,0.659817,-0.738493,1.000000,0.617859,0.417212,0.430453
S5,0.270774,0.149916,0.446157,0.393480,0.515503,0.318357,-0.398577,0.617859,1.000000,0.464669,0.565883
S6,0.301731,0.208133,0.388680,0.390430,0.325717,0.290600,-0.273697,0.417212,0.464669,1.000000,0.382483
Y,0.187889,0.043062,0.586450,0.441482,0.212022,0.174054,-0.394789,0.430453,0.565883,0.382483,1.000000

In [16]:
print(data['AGE'].shape)

(442,) 11

Data Interpritation
### We can see in the shape of the data that there are 442 instances(samples) of data, with 10 feature variables. 

### These feature variables are:
*   **age:** (in years)
*   **sex**
*   **bmi:**: Body mass index
*   **bp:** average blood pressure
*   **s1 tc:** total serum cholesterol
*   **s2 ldl:** low-density lipoproteiens
*   **s3 hdl:** high-density lipoproteins
*   **s4 tch:** total cholesterol / HDL
*   **s5 ltg:** possibly log of serum triglycerides level
*   **s6 glu:** blood sugar level

# Setup

The first two Machine Learning approaches that I will be focusing on this project consist of univariate and multivariate linear regression models. This data set consists of 10 feature variables, so it's important to see the predictions differ in both models. 

Note: I will be use Assignment 3 as a reference when building the models as it's a well done exemplar on univariate & mulitvariate regression algorithims.

We could take a quick look at our train & test shapes to verify that the sklearn function split our data 50/50

In [72]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(265, 10) (177, 10) (265,) (177,)

#Multivariate Linear Regression
When working with multivariate linear regression, we will use all of the feature variables. My goal is to see the how much benefit it comes to using all of the features instead of one feature.

In [74]:
regression = LinearRegression().fit(X_test,y_train)#Fit data

0.005649717514124294